* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }
body{
    padding: 0;
    margin: 0;
    background-image: url("assets/noite-estrelada.gif");
    background-size: cover;
    margin-top: 2%;
    margin-right: 4%;
    margin-left: 4%;
    color: white;
}

header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
header div#nome_topo{
    width: 70%;
    text-align: center;
    font: bold italic max(25px,5vw) arial ;
}
header div#menu_modo{
    width: 15%;
    display: inline-block;
}
header #btndia {
    background-color: rgba(240, 248, 255, 0.37);  
    display: inline;
    padding: 1%;  
    margin: 2%;  
    font: normal max(10px,2.5vw) arial;
    border: solid 2px black;   
    border-radius: 5px;

}
header #btnnoite {
    background-color: rgba(240, 248, 255, 0.37);  
    padding: 1%;  
    margin: 2%;  
    font: normal max(10px,2.5vw) arial;
    border: solid 2px black;   
    border-radius: 5px;   
}

article#sobre-mim{
    margin-top: 5%;
    text-align: center;
    font: 400 max(20px, 5vw) arial;
}
main#main_container{
    border: solid 2px rgb(21, 90, 117);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 5%;
    
}
main div{
    width: 20%;
    margin: 10% auto;
    padding: 2%;
    text-align: center;
    font: bold max(10px, 3vw) arial;
    border: solid 2px rgb(21, 90, 117);
    border-radius: 5px;
}


footer{
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
}

