* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: Saiyan SansRegular;
    src: url(fonts/Saiyan-Sans.ttf);
 }

body{
    background-image: url("assets/noite-estrelada.gif");
    background-size: cover;
    object-fit:fill;
    margin-top: 1%;
    margin-right: 8%;
    margin-left: 8%;
    color: rgb(255, 255, 255);
}
#top_container{
    perspective: 1000px ;
    display: flex;
    justify-content:space-between;
}

#flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;  
}

#top_container:hover #flipper{
    transform:rotateY(180deg);
}
#front, #back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
#back{
    transform: rotateY(180deg);
}

header{
    display: flex;
    flex-direction:row;
    align-items: center;
}
header div#nome_topo{
    width: 25%;
    padding-bottom: 15%;
    text-align: left;
    color: #ba9f54;
    text-shadow: 1px 1px 0 #000000,
    2px 2px 0 #000000,
    3px 3px 0 #cccccc,
    4px 4px 0 #cccccc,
    5px 5px 0 #cccccc;
    letter-spacing: 5px;
    font:normal italic max(20px,7vw) Saiyan SansRegular;
}
header div#menu_modo{
    margin-left: 10%;
    padding-bottom: 8%;
    width: 15%;
    display: inline-block;
}
header #btndia {
    background-color: rgba(240, 248, 255, 0.37);  
    display: inline;
    padding: 2%;  
    margin: 2%;  
    font: normal max(10px,2.5vw) arial;
    border: solid 2px rgba(255, 252, 252, 0.466);   
    border-radius: 5px;
    cursor: pointer;
}
header #btnnoite {
    background-color: rgba(240, 248, 255, 0.37);  
    padding: 1%;  
    margin: 2%;  
    font: normal max(10px,2.5vw) arial;
    border: solid 2px rgba(255, 252, 252, 0.466);   
    border-radius: 5px; 
    cursor: pointer;  
}

#banner{
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}

#centro_topo{    
    height: 100%;
    width: 80%;
    background: #a8a7a741 ;
    color: #c5ac60;
    border: solid 2px rgba(255, 255, 0, 0.575);
    font-size:max(15px, 12vw) ;
    font-family: Saiyan SansRegular;   
    letter-spacing: 2px;
}
#centro_topo img{
    height:10vw;   
    object-fit: cover;
}

.star{
    height: 100%;
    object-fit: cover;
    width: 10%;
}
.star img{ 
    height: 100%; 
    width: 100%;
}

main#main_container{
    background: #a8a7a741;
    border: solid 2px rgb(21, 90, 117);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 8%;   
}

main div{
    width: 30%;
    margin: 5% 5%;
    text-align: center;
    color: #ba9f54;
    text-shadow: 2px 2px 0 #000000;
    font:  italic max(14px, 5vw) Saiyan SansRegular;
    letter-spacing: 4px;
    border: solid 2px rgb(21, 90, 117);
    border-radius: 8px;  
}

main img{
    border: solid 2px rgb(21, 90, 117);
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

main video{
    border: solid 2px rgb(21, 90, 117);
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}
.text_link{
    border: none;
    width: 100%;
}

a{
    text-decoration: none;
    color: #ba9f54;
    text-shadow: 2px 2px 0 #000000;
}

#img_dbz_footer img{
    position: absolute;
    width: 30%;
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    font: normal max(9px, 3vw) arial;
}

footer #dev{
    width: 60%
}

footer #github{
    width: 5%;
}

footer #linkedin{
    width: 5%
}

footer img{
    width: 100%;
}

